<!DOCTYPE html>
<head>
    <title>HIIT TIMER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <meta name="viewport" content="width=device-widge, intial-scale=1" />
</head>
<body>
    <div class="header"><h1 class="header_logo">HIIT TIMER</h1></div>
    <main class="main">
        <h2 class="heading">Go</h2>
        <span class="timer" id="timer">{{ exercise }}s</span>
        <progress 
            max="{{ exercise }}" 
            value="{{ exercise }}" 
            class="progress progress--set"
            id="progressBar"
        ></progress>
    </main>

    <script type="application/javascript">
        const timerElement = document.getElementById("timer");
        const progressBar = document.getElementById("progressBar");

        let timerCounter = progressBar.max;

        const interval = setInterval(() => {
            
            if (timerCounter <= 1) {
                window.location.href = "{{ url_for('rest') }}";
                clearInterval(interval);
            }

            timerCounter = timerCounter - 1;
            timerElement.innerText = timerCounter + "s";
            progressBar.value = timerCounter;
        }, 1000);
    </script>
</body>