<!DOCTYPE html>
<head>
    <title>HIIT TIMER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <meta name="viewport" content="width=device-widge, intial-scale=1" />
</head>
<body>
    <div class="header"><h1 class="header_logo">HIIT TIMER</h1></div>
    <main class="main">
        <h2 class="heading">Setup</h2>
        <form class="form" method="post">
            <label class="form__label" for="exercise">Exercise:</label>
            <input 
                class="form__input"
                type="number"
                name="exercise"
                id="exercise"
                value="45"
            />
            <span class="units">(seconds)</span>

            <label class="form__label" for="rest">Rest:</label>
            <input 
                class="form__input"
                type="number"
                name="rest"
                id="rest"
                value="15"
            />
            <span class="units">(seconds)</span>
            
            <label class="form__label" for="sets">Sets:</label>
            <input 
                class="form__input"
                type="number"
                name="sets"
                id="sets"
                value="8"
            />
            <span class="units">(seconds)</span>

            <div class="form__button-container">
                <button class="button" type="submit">Start!</button>
            </div>
        </form>
    </main>
</body>